.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  background-color: black;
  color: aqua;
  padding: .5rem;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav > ul {
  grid-gap: 1rem;
}
nav ul li{
  position: relative;
  width: 10rem;
}
nav ul li, nav ul li ul li {
  cursor: pointer;
}
nav ul li ul {
  display: none;
  background-color: black;
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
}

nav a{
  cursor: pointer;
  display: flex;
  padding: .5rem;
  color: aqua;
  text-decoration: none;
}
nav a:hover{
  background-color: #353535;
}